{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-14 p-5">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-7 md:col-9 mb-8 text-left lg:text-center">
            <h1 class="mb-4 text-h3 lg:text-h1">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                  class="btn btn-primary"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener"
                  {{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" "DisplayXL" "800x" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->
    <div class="container mt-10">
      <div class="row">
        <div class="md:col-10 lg:col-8 xl:col-6 mx-auto text-center">
          <h2 class="bg-theme-light p-3 rounded-t-lg">
            What we offer?
          </h2>
        </div>
      </div>
    </div>
  <!-- Features -->
  {{ range $i, $e:= .Params.features }}
    <section class="section-sm p-6 {{ if (modBool $i 2) }}bg-grey{{ end }}">
      <div class="container">
        <div class="row items-center justify-between">
          <div
            class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-6">
            {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
          </div>
          <div
            class="{{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-6">
            <h3 class="mb-4">
              {{ .title | markdownify }}
            </h3>
            <p class="mb-8 text-lg">
              {{ .content | markdownify }}
            </p>
            <ul>
              {{ range .bulletpoints }}
                <li class="relative mb-4 pl-6">
                  <i class="fa fa-check absolute left-0 top-1.5"></i>
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ul>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Features -->

  <!-- Testimonials -->
  {{ with site.GetPage "sections/testimonial" }}
    {{ if .Params.enable }}
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="md:col-10 lg:col-8 xl:col-6 mx-auto text-center">
              <h2 class="bg-theme-light p-3 rounded-t-lg">
                {{ .Title | markdownify }}
              </h2>
              <p>
                {{ .Params.description | markdownify }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-4">
              {{ range .Params.testimonials }}
                <div class="bg-white-bordered rounded-lg p-10">
                  <div class="items-center text-center">
                    <div class="flex text-dark dark:text-white justify-center items-center">
                      {{ partial "image" (dict "Src" .avatar "Size" "50x50" "Alt" .name) }}
                    </div>
                    <h3 class="h5 font-primary font-semibold">
                      {{ .name }}
                    </h3>
                    <p class="text-dark ">
                      {{ .designation | markdownify }}
                    </p>
                  </div>
                  <blockquote class="mt-8 text-center">
                    {{ .content | markdownify }}
                  </blockquote>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  {{end}}
  <!-- /Testimonials -->
{{ end }}
