// Add your own custom styles here
.bg-light-dark {
    background-color: #c7f48c;
}

.bg-white-bordered {
    background-color: white;
    border: 1px #ccc solid;
}

.bg-grey {
    background-color: #f9f9f9;
}
